# Директории и файлы операционных систем
.directory
.DS_Store
Thumbs.db

# Файлы редакторов
.vscode
*.sublime*
.idea

# Вспомогательные директории и файлы
*.log*
node_modules/

# Директория с собранными файлами проекта
app/
build/

# Прочее
*.rar
*.zip
