// === Шрифт по умолчанию ===
$fontFamily: "", sans-serif;

// === Минимальная ширина экрана ===
$minWidth: 320px;

// === Максимальная ширина экрана ===
$maxWidth: 1920;

// === Ширина контейнера ===
$WidthContainer: 1170px;

// === Отступы по краям контейнера ===
$paddingContainer: 15px;

// === Максимальная ширина контейнера с учетом внутренних отступов ===
$maxWidthContainer: $WidthContainer + 2 * $paddingContainer;

// === Медиа брейкпоинты ===
$mbp1: 1400;
$mbp2: 1200;
$mbp3: 992;
$mbp4: 768;
$mbp5: 576;
$mbp6: 420;
